* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.white-icon {
    width: 30px;
    height: 30px;
    filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(219deg) brightness(103%) contrast(102%);
}

.footer {
    grid-column: 2 / -1;
    padding: 20px;
    background-color: #e4f064;
}

.sidebar {
    grid-row: 1 / -1;
    padding: 20px;
    background-color: #64bff0;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
    > div {
        display: flex;
        align-items: center;
    }
}

.container {
    grid-column: 2 / -1;
    padding: 20px;
    background-color: #e2e8f0;
}