:root {
    --gray-color: #94979c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: min-content 1fr;
}

.profile-picture-1 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-picture-2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.white-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(219deg) brightness(103%) contrast(102%);
}

.gray-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(28%) sepia(5%) saturate(364%) hue-rotate(177deg) brightness(97%) contrast(90%);
}

button {
    background-color: #40a7df;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
}

input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
}

.sidebar {
    grid-row: 1 / -1;
    padding: 10px 20px;
    background-color: #40a7df;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    gap: 50px;
    > div > div {
        display: flex;
        align-items: center;
        padding: 5px;
    }
    .sidebar-title {
        font-size: 1.6rem;
        .white-icon {
            width: 40px;
            height: 40px;
            margin-left: -15px;
        }
    }
}

.header {
    grid-column: 2 / -1;
    padding: 10px 20px;
    background-color: #e4f064;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr 1fr;
    > div {
        display: flex;
        align-items: center;
        padding: 5px;
    }
    .profile, .buttons {
        justify-content: flex-end;
        gap: 10px;
    }
    .search, .welcome {
        justify-content: flex-start;
        gap: 10px;
    }
}

.container {
    grid-column: 2 / -1;
    padding: 20px;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    .projects {
        grid-row: span 2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: max-content;
        gap: 15px;
        .title {
            grid-column: 1 / -1;
        }
    }
    .announcements {
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-template-rows: max-content;
        gap: 15px;
        .title {
            grid-column: 1 / -1;
        }
    }
    .trending {
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-template-rows: max-content;
        gap: 15px;
        .title {
            grid-column: 1 / -1;
        }
    }
    h2.title {
        font-size: 1.2rem;
    }
}

.cards {
    background-color: #ffffff;
    border-radius: 10px;
    border-left: 10px solid #f5bf41;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    font-size: 0.9rem;
    > div.cards-icons {
        margin-top: 10px;
        padding: 15px;
        align-self: flex-end;
        display: flex;
        gap: 15px;
    }
    > p {
        color: var(--gray-color);
    }
}

.announcements > div {
    border: none;
    font-size: 0.8rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .notice > p {
        color: var(--gray-color);
    }
}

.trending > div {
    border: none;
    font-size: 0.8rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .profile {
        display: flex;
        align-items: center;
        .text > p {
            color: var(--gray-color);
        }
    }
}